In [1]:
import investpy
import datetime as dt
import pandas as pd
import numpy as np
import requests
import csv
from ib_insync import *
import nest_asyncio
from tqdm.notebook import tqdm
nest_asyncio.apply()

In [2]:
data=pd.read_csv('isin_dropdup_17697_final_Jiarui.csv',index_col=0)
data

,longName,marketName,secIdList,Origin_Name,Origin_Stock,Origin_Country
new_index,,,,,,
0,1ST GROUP LTD,1ST,AU0000001ST0,1ST GROUP LTD,1ST,Australia
1,2U INC,NMS,US90214J1016,2U INC,TWOU,United States of America
2,3DX INDUSTRIES INC,CURRENT,US88556A1007,3DX INDUSTRIES INC,DDDX,United States of America
3,3M CO,MMM,US88579Y1010,3M CO,MMM,Mexico
4,88 ENERGY LTD,88E,AU00000088E2,88 ENERGY LTD,88E,United Kingdom
...,...,...,...,...,...,...
268,WISDOMTREE PHYSICAL GOLD,ETF,DE000A0N62G0,WISDOMTREE METAL SECURITIES,VZLD,NaN
269,WYNN RESORTS LTD.,NMS,US9831341071,WYNN RESORTS LTD,WYNN,NaN
270,XERIS BIOPHARMA HOLDINGS INC,NMS,US98422E1038,XERIS PHARMACEUTICALS INC,XERS,United States of America
271,NOVACCESS GLOBAL INC,CURRENT,US67001N1072,XSUNX INC,XSNX,United States of America
272,ZIONS BANCORP NA,NMS,US9897011071,ZIONS BANCORPORATION NA,ZION,NaN

In [3]:
isin_list=data['secIdList'].tolist()

In [4]:
def first_2_isin(df):
    list_isin_2=[]
    for i in range (len(df)):
        list_isin_2.append(df.ISIN.iloc[i][:2])
    df['list_isin_2']=list_isin_2

def country_by_isin(df):
    cl=[]
    for i in df['list_isin_2']:
        if i=='AU':
            cl.append('Australia')
        if i=='US':
            cl.append('USA')
        if i=='KY':
            cl.append('Hong Kong')
        if i=='IN':
            cl.append('India')
        if i=='GB':
            cl.append('UK')
        if i=='CA':
            cl.append('Canada')
        if i=='JP':
            cl.append('Japan')
        if i=='NL':
            cl.append('Netherlands')
        if i=='BE':
            cl.append('Belgium')
        if i=='SG':
            cl.append('Singapore')
        if i=='ZA':
            cl.append('South Africa')
        if i=='CH':
            cl.append('Switzerland')
        if i=='ES':
            cl.append('Spain')
        if i=='FR':
            cl.append('France')
        if i=='SE':
            cl.append('Sweden')
        if i=='CN':
            cl.append('China')
        if i=='IM':
            cl.append('UK')
        if i=='AT':
            cl.append('Austria')
        if i=='DE':
            cl.append('Germany')
        if i=='IE':
            cl.append('Ireland')
        if i=='RU':
            cl.append('Russia')
        if i=='FI':
            cl.append('Finland')
        if i=='IL':
            cl.append('Israel')
        if i=='GG':
            cl.append('UK')
        if i=='VG':
            cl.append('Singaport')
        if i=='CY':
            cl.append('USA')
        if i=='BM':
            cl.append('USA')
        if i=='HK':
            cl.append('HK')
        if i=='NO':
            cl.append('Norway')
        if i=='MU':
            cl.append('Canada')
        if i=='VI':
            cl.append('USA')
        if i=='JE':
            cl.append('UK')
        if i=='IT':
            cl.append('Italy')
        if i=='HU':
            cl.append('Hungary')
        if i=='VN':
            cl.append('UK')
        if i=='MH':
            cl.append('USA')
        if i=='LU':
            cl.append('Switzerland')
        if i=='PL':
            cl.append('Poland')
        if i=='ID':
            cl.append('Indonesia')
        if i=='NZ':
            cl.append('Australia')
        if i=='DK':
            cl.append('Denmark')
        if i=='PG':
            cl.append('Australia')
        if i=='BR':
            cl.append('Brazil')
        if i=='PA':
            cl.append('USA')
        if i=='MX':
            cl.append('Mexico')
        if i=='PR':
            cl.append('USA')
        if i=='BS':
            cl.append('USA')
        if i=='GR':
            cl.append('Greece')
        if i=='AN':
            cl.append('USA')
        if i=='MY':
            cl.append('Malaysia')
        if i=='MT':
            cl.append('Sweden')
        if i=='AI':
            cl.append('Canada')
        if i=='TH':
            cl.append('Thailand')
        if i=='PT':
            cl.append('Portugal')
        if i=='LR':
            cl.append('USA')
        if i=='KR':
            cl.append('Korea')
        if i=='EE':
            cl.append('Poland')
        if i=='LI':
            cl.append('Switzerland')
        if i=='NG':
            cl.append('UK')
    df['country_by_isin']=cl

In [5]:
df=pd.DataFrame(columns=["Code","Exchange","Name","Type","Country","Currency","ISIN","previousClose","previousCloseDate",
                        'Origin_Stock','Origin_Name','Origin_Country','list_isin_2','country_by_isin'])
empty=pd.DataFrame(columns=["Code","Exchange","Name","Type","Country","Currency","ISIN","previousClose","previousCloseDate",
                        'Origin_Stock','Origin_Name','Origin_Country','list_isin_2','country_by_isin'])

In [6]:
wrong_stock_match_ISIN=[]
wrong_stock_match_name=[]
wrong_stock_match_stock=[]
wrong_country_match_ISIN=[]
wrong_country_match_name=[]
wrong_country_match_stock=[]

In [7]:
for j in range(17):
    for i in tqdm(range(1000*j, 1000*j+1000)):
        try:
            newdata = f'https://eodhistoricaldata.com/api/search/{isin_list[i]}?api_token=5f3afd582bd7b4.95720069'
            a = requests.get(newdata).json()
            df1 = pd.DataFrame(a)
            df1['Origin_Stock'] = [data.Origin_Stock.iloc[i]]*len(df1)
            df1['Origin_Name'] = [data.Origin_Name.iloc[i]]*len(df1)
            df1['Origin_Country'] = [data.Origin_Country.iloc[i]]*len(df1)
            first_2_isin(df1)
            country_by_isin(df1)
            df2=df1.loc[df1.Code==df1['Origin_Stock'][0]]

            
            if len(df2)==0:
                wrong_stock_match_ISIN.append(data.secIdList.iloc[i])
                wrong_stock_match_name.append(data.Origin_Name.iloc[i])
                wrong_stock_match_stock.append(data.Origin_Stock.iloc[i])
                
            if len(df2)==1:
                df = pd.concat([df,df2])

            else:
                df3=df2.loc[df2.Country==df2['Origin_Country'][0]]

                if len(df3)==0:
                    df4=df2.loc[df2.Country==df2['country_by_isin'][0]]
                    
                    wrong_country_match_ISIN.append(data.secIdList.iloc[i])
                    wrong_country_match_name.append(data.Origin_Name.iloc[i])
                    wrong_country_match_stock.append(data.Origin_Stock.iloc[i])                    
                    
                    
                    if len(df4)==0:
                        df = pd.concat([df,df2])
                    else:
                        df = pd.concat([df,df4])
    
                else: 
                    df = pd.concat([df,df3])
        except:
            df=pd.concat([df,empty])

  0%|          | 0/1000 [00:00<?, ?it/s]

  0%|          | 0/1000 [00:00<?, ?it/s]

  0%|          | 0/1000 [00:00<?, ?it/s]

  0%|          | 0/1000 [00:00<?, ?it/s]

  0%|          | 0/1000 [00:00<?, ?it/s]

  0%|          | 0/1000 [00:00<?, ?it/s]

  0%|          | 0/1000 [00:00<?, ?it/s]

  0%|          | 0/1000 [00:00<?, ?it/s]

  0%|          | 0/1000 [00:00<?, ?it/s]

  0%|          | 0/1000 [00:00<?, ?it/s]

  0%|          | 0/1000 [00:00<?, ?it/s]

  0%|          | 0/1000 [00:00<?, ?it/s]

  0%|          | 0/1000 [00:00<?, ?it/s]

  0%|          | 0/1000 [00:00<?, ?it/s]

  0%|          | 0/1000 [00:00<?, ?it/s]

  0%|          | 0/1000 [00:00<?, ?it/s]

  0%|          | 0/1000 [00:00<?, ?it/s]

In [8]:
    for i in tqdm(range(17000,17697)):
        try:
            newdata = f'https://eodhistoricaldata.com/api/search/{isin_list[i]}?api_token=5f3afd582bd7b4.95720069'
            a = requests.get(newdata).json()
            df1 = pd.DataFrame(a)
            df1['Origin_Stock'] = [data.Origin_Stock.iloc[i]]*len(df1)
            df1['Origin_Name'] = [data.Origin_Name.iloc[i]]*len(df1)
            df1['Origin_Country'] = [data.Origin_Country.iloc[i]]*len(df1)
            first_2_isin(df1)
            country_by_isin(df1)
            df2=df1.loc[df1.Code==df1['Origin_Stock'][0]]

            
            if len(df2)==0:
                wrong_stock_match_ISIN.append(data.secIdList.iloc[i])
                wrong_stock_match_name.append(data.Origin_Name.iloc[i])
                wrong_stock_match_stock.append(data.Origin_Stock.iloc[i])
                
            if len(df2)==1:
                df = pd.concat([df,df2])

            else:
                df3=df2.loc[df2.Country==df2['Origin_Country'][0]]

                if len(df3)==0:
                    df4=df2.loc[df2.Country==df2['country_by_isin'][0]]
                    
                    wrong_country_match_ISIN.append(data.secIdList.iloc[i])
                    wrong_country_match_name.append(data.Origin_Name.iloc[i])
                    wrong_country_match_stock.append(data.Origin_Stock.iloc[i])                    
                    
                    
                    if len(df4)==0:
                        df = pd.concat([df,df2])
                    else:
                        df = pd.concat([df,df4])
    
                else: 
                    df = pd.concat([df,df3])
        except:
            df=pd.concat([df,empty])

  0%|          | 0/697 [00:00<?, ?it/s]

In [23]:
l=[i for i in range(len(df))]
df.index=l
eod=df.iloc[:,:9]
origin=df.iloc[:,9:]
eod=eod.add_prefix('EOD_')
df=pd.concat([eod,origin],axis=1)
df

,EOD_Code,EOD_Exchange,EOD_Name,EOD_Type,EOD_Country,EOD_Currency,EOD_ISIN,EOD_previousClose,EOD_previousCloseDate,Origin_Stock,Origin_Name,Origin_Country,list_isin_2,country_by_isin
0,1ST,AU,1stAvailable Ltd,Common Stock,Australia,AUD,AU0000001ST0,0.01,2022-08-04,1ST,1ST GROUP LTD,Australia,AU,Australia
1,TWOU,US,2U Inc,Common Stock,USA,USD,US90214J1016,9.36,2022-08-03,TWOU,2U INC,United States of America,US,USA
2,DDDX,US,3Dx Industries Inc,Common Stock,USA,USD,US88556A1007,0.061,2022-08-03,DDDX,3DX INDUSTRIES INC,United States of America,US,USA
3,MMM,US,3M Company,Common Stock,USA,USD,US88579Y1010,143.49,2022-08-03,MMM,3M CO,Mexico,US,USA
4,88E,AU,88 Energy Ltd,Common Stock,Australia,AUD,AU00000088E2,0.012,2022-08-04,88E,88 ENERGY LTD,United Kingdom,AU,Australia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13391,VZLD,F,WisdomTree Physical Gold EUR,ETF,Germany,EUR,DE000A0N62G0,163.18,2022-08-02,VZLD,WISDOMTREE METAL SECURITIES,NaN,DE,Germany
13392,WYNN,US,Wynn Resorts Limited,Common Stock,USA,USD,US9831341071,66.29,2022-08-03,WYNN,WYNN RESORTS LTD,NaN,US,USA
13393,XERS,US,Xeris Pharmaceuticals Inc,Common Stock,USA,USD,US98422E1038,1.57,2022-08-03,XERS,XERIS PHARMACEUTICALS INC,United States of America,US,USA
13394,XSNX,US,NovAccess Global Inc,Common Stock,USA,USD,US67001N1072,0.171,2022-08-03,XSNX,XSUNX INC,United States of America,US,USA
13395,ZION,US,Zions Bancorporation,Common Stock,USA,USD,US9897011071,53.96,2022-08-03,ZION,ZIONS BANCORPORATION NA,NaN,US,USA

In [11]:
df.to_csv('eod_unique_13396_Jiarui.csv')

In [12]:
wrong_stock=pd.DataFrame(columns=['ISIN','Name','Stock'])
wrong_country=pd.DataFrame(columns=['ISIN','Name','Stock'])
wrong_stock['ISIN']=wrong_stock_match_ISIN
wrong_stock['Name']=wrong_stock_match_name
wrong_stock['Stock']=wrong_stock_match_stock
wrong_country['ISIN']=wrong_country_match_ISIN
wrong_country['Name']=wrong_country_match_name
wrong_country['Stock']=wrong_country_match_stock

In [13]:
wrong_stock

             ISIN                          Name      Stock
0    INE767A01016           AARTI DRUGS LIMITED  AARTIDRUG
1    INE358A01014              ABBOTT INDIA LTD  ABBOTINDI
2    CA00288E3005       ABCOURT MINES INC -CL B      ABMBF
3    CA0030691012   ABERDEEN INTERNATIONAL INC.      AABVF
4    KYG8789K1242                   ABILITY INC       ABIL
..            ...                           ...        ...
878  CA57480R1091           GAINEY CAPITAL CORP      GNYPF
879  CA74971G4016               GMP CAPITAL INC      GMPXF
880  DE000A2NBX80  INSTONE REAL ESTATE GROUP AG       INS1
881  US6283411097       MATEON THERAPEUTICS INC       OXGP
882  DK0010219153       ROCKWOOL INTL A/S-B SHS        R90

[883 rows x 3 columns]

In [14]:
wrong_country

             ISIN                         Name Stock
0    US88579Y1010                        3M CO   MMM
1    AU00000088E2                88 ENERGY LTD   88E
2    CA00430K8730            ACASTI PHARMA INC  ACST
3    US0079031078       ADVANCED MICRO DEVICES   AMD
4    CA01535P1062         ALEXCO RESOURCE CORP   AXU
..            ...                          ...   ...
139  US7433151039        PROGRESSIVE CORP-OHIO   PGR
140  GB00BDCPN049  COCA-COLA EUROPEAN PARTNERS  CCEP
141  NL0011882741             PLAZA CENTERS NV  PLAZ
142  US88688T1007    TILRAY INC-CLASS 2 COMMON  TLRY
143  DE000A0N62G0  WISDOMTREE METAL SECURITIES  VZLD

[144 rows x 3 columns]