In [1]:
import pandas as pd
import numpy as np

In [2]:
ib=pd.read_csv('true_isin_16909.csv',index_col=0)
eod=pd.read_csv('EOD_16024.csv',index_col=0)
figi=pd.read_csv('figi_data.csv',index_col=0)

In [3]:
ib

   marketName                     longName          isin
0         1ST                1ST GROUP LTD  AU0000001ST0
0         NMS                       2U INC  US90214J1016
0        DDDX           3DX INDUSTRIES INC  US88556A1007
0         MMM                        3M CO  US88579Y1010
0         88E                88 ENERGY LTD  AU00000088E2
..        ...                          ...           ...
0        ZYME                ZYMEWORKS INC  CA98985W1023
0         NMS  ZYNERBA PHARMACEUTICALS INC  US98986X1090
0         NMS                    ZYNEX INC  US98986M1036
0        ZNGA             ZYNGA INC - CL A  US98986T1088
0        ASQ1                 ZYTRONIC PLC  GB0006971013

[16909 rows x 3 columns]

In [4]:
eod

,Code,Exchange,Name,Type,Country,Currency,ISIN,previousClose,previousCloseDate
0,1ST,AU,1stAvailable Ltd,Common Stock,Australia,AUD,AU0000001ST0,0.008,2022-07-21
1,TWOU,US,2U Inc,Common Stock,USA,USD,US90214J1016,11.360,2022-07-21
2,DDDX,US,3Dx Industries Inc,Common Stock,USA,USD,US88556A1007,0.061,2022-07-21
3,MMM,US,3M Company,Common Stock,USA,USD,US88579Y1010,133.950,2022-07-21
4,MMM,XETRA,3M Company,Common Stock,Germany,EUR,US88579Y1010,130.800,2022-07-21
...,...,...,...,...,...,...,...,...,...
16019,531335,BSE,Zydus Wellness Limited,Common Stock,India,INR,INE768C01010,1640.250,2022-07-22
16020,ZYME,US,Zymeworks Inc,Common Stock,USA,USD,CA98985W1023,6.330,2022-07-21
16021,ZYNE,US,Zynerba Pharmaceuticals Inc,Common Stock,USA,USD,US98986X1090,1.260,2022-07-21
16022,ZYXI,US,Zynex Inc,Common Stock,USA,USD,US98986M1036,7.620,2022-07-21
16023,ZYT,LSE,Zytronic,Common Stock,UK,GBX,GB0006971013,135.000,2022-07-21

In [5]:
figi

,figi,name,ticker,exchCode,compositeFIGI,securityType,marketSector,shareClassFIGI,securityType2,securityDescription,uniqueID,uniqueIDFutOpt
new_index,,,,,,,,,,,,
0,BBG008HNLRF4,1ST GROUP LTD,1ST,AU,BBG008HNLRF4,Common Stock,Equity,BBG008HNLRG3,Common Stock,1ST,NaN,NaN
1,BBG001KS9450,2U INC,TWOU,US,BBG001KS9450,Common Stock,Equity,BBG001V0RR30,Common Stock,TWOU,NaN,NaN
2,BBG000C129N6,3DX INDUSTRIES INC,DDDX,US,BBG000C129N6,Common Stock,Equity,BBG001STRH79,Common Stock,DDDX,NaN,NaN
3,BBG000BP52R2,3M CO,MMM,US,BBG000BP52R2,Common Stock,Equity,BBG001S5T7X2,Common Stock,MMM,NaN,NaN
4,BBG000BWTTK9,88 ENERGY LTD,POQ,GR,BBG000BWTTK9,Common Stock,Equity,BBG001SCV1F7,Common Stock,POQ,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
16903,BBG00GD15LJ5,ZYMEWORKS INC,ZYME,US,BBG00GD15LJ5,Common Stock,Equity,BBG00247P1W0,Common Stock,ZYME,NaN,NaN
16904,BBG007BBS8B7,ZYNERBA PHARMACEUTICALS INC,ZYNE,US,BBG007BBS8B7,Common Stock,Equity,BBG007BBS8C6,Common Stock,ZYNE,NaN,NaN
16905,BBG000BJBXZ2,ZYNEX INC,ZYXI,US,BBG000BJBXZ2,Common Stock,Equity,BBG001S7T7V0,Common Stock,ZYXI,NaN,NaN
16906,BBG005YZL376,ZYNGA INC - CL A,ZNGAEUR,XS,BBG005YZL2R6,Common Stock,Equity,BBG001T24RN2,Common Stock,ZNGAEUR,NaN,NaN
16907,BBG000BZPV76,ZYTRONIC PLC,ZYT,LN,BBG000BZPTJ8,Common Stock,Equity,BBG001SFLP13,Common Stock,ZYT,NaN,NaN

In [6]:
l1=ib['isin'].iloc[:5086].tolist()
l2=ib['isin'].iloc[5087:].tolist()
figi['ISIN']=l1+l2

In [7]:
figi_split = np.split(figi,[5086])
figi_new=pd.concat([figi_split[0],pd.DataFrame([[np.NaN, 'EOA: E.ON SE: ADJ', 'EOAB']+[np.NaN]*10],columns = figi.columns),figi_split[1]],ignore_index=True)

In [8]:
figi_new['new_index']=list(range(len(figi_new)))
ib['new_index']=list(range(len(ib)))
figi_new=figi_new.set_index(['new_index'])
ib=ib.set_index(['new_index'])
ib_figi=pd.concat([ib, figi_new], axis=1).drop(['ISIN',], axis=1)
ib_figi

,marketName,longName,isin,figi,name,ticker,exchCode,compositeFIGI,securityType,marketSector,shareClassFIGI,securityType2,securityDescription,uniqueID,uniqueIDFutOpt
new_index,,,,,,,,,,,,,,,
0,1ST,1ST GROUP LTD,AU0000001ST0,BBG008HNLRF4,1ST GROUP LTD,1ST,AU,BBG008HNLRF4,Common Stock,Equity,BBG008HNLRG3,Common Stock,1ST,NaN,NaN
1,NMS,2U INC,US90214J1016,BBG001KS9450,2U INC,TWOU,US,BBG001KS9450,Common Stock,Equity,BBG001V0RR30,Common Stock,TWOU,NaN,NaN
2,DDDX,3DX INDUSTRIES INC,US88556A1007,BBG000C129N6,3DX INDUSTRIES INC,DDDX,US,BBG000C129N6,Common Stock,Equity,BBG001STRH79,Common Stock,DDDX,NaN,NaN
3,MMM,3M CO,US88579Y1010,BBG000BP52R2,3M CO,MMM,US,BBG000BP52R2,Common Stock,Equity,BBG001S5T7X2,Common Stock,MMM,NaN,NaN
4,88E,88 ENERGY LTD,AU00000088E2,BBG000BWTTK9,88 ENERGY LTD,POQ,GR,BBG000BWTTK9,Common Stock,Equity,BBG001SCV1F7,Common Stock,POQ,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16904,ZYME,ZYMEWORKS INC,CA98985W1023,BBG00GD15LJ5,ZYMEWORKS INC,ZYME,US,BBG00GD15LJ5,Common Stock,Equity,BBG00247P1W0,Common Stock,ZYME,NaN,NaN
16905,NMS,ZYNERBA PHARMACEUTICALS INC,US98986X1090,BBG007BBS8B7,ZYNERBA PHARMACEUTICALS INC,ZYNE,US,BBG007BBS8B7,Common Stock,Equity,BBG007BBS8C6,Common Stock,ZYNE,NaN,NaN
16906,NMS,ZYNEX INC,US98986M1036,BBG000BJBXZ2,ZYNEX INC,ZYXI,US,BBG000BJBXZ2,Common Stock,Equity,BBG001S7T7V0,Common Stock,ZYXI,NaN,NaN
16907,ZNGA,ZYNGA INC - CL A,US98986T1088,BBG005YZL376,ZYNGA INC - CL A,ZNGAEUR,XS,BBG005YZL2R6,Common Stock,Equity,BBG001T24RN2,Common Stock,ZNGAEUR,NaN,NaN
16908,ASQ1,ZYTRONIC PLC,GB0006971013,BBG000BZPV76,ZYTRONIC PLC,ZYT,LN,BBG000BZPTJ8,Common Stock,Equity,BBG001SFLP13,Common Stock,ZYT,NaN,NaN

In [ ]:
# data = pd.merge(ib,eod,left_on="isin",right_on="ISIN",how="outer")
# data

In [ ]:
# data_1 = pd.merge_ordered(ib,eod,left_on="isin",right_on="ISIN",how="outer")
# data_1

In [ ]:
# data_1 = pd.merge(data_1,figi,left_on="Code",right_on="ticker",how="outer")
# data_1

In [9]:
data = pd.merge(eod,ib_figi,left_on="ISIN",right_on="isin",how="outer")
data

,Code,Exchange,Name,Type,Country,Currency,ISIN,previousClose,previousCloseDate,marketName,...,ticker,exchCode,compositeFIGI,securityType,marketSector,shareClassFIGI,securityType2,securityDescription,uniqueID,uniqueIDFutOpt
0,1ST,AU,1stAvailable Ltd,Common Stock,Australia,AUD,AU0000001ST0,0.008,2022-07-21,1ST,...,1ST,AU,BBG008HNLRF4,Common Stock,Equity,BBG008HNLRG3,Common Stock,1ST,NaN,NaN
1,TWOU,US,2U Inc,Common Stock,USA,USD,US90214J1016,11.360,2022-07-21,NMS,...,TWOU,US,BBG001KS9450,Common Stock,Equity,BBG001V0RR30,Common Stock,TWOU,NaN,NaN
2,DDDX,US,3Dx Industries Inc,Common Stock,USA,USD,US88556A1007,0.061,2022-07-21,DDDX,...,DDDX,US,BBG000C129N6,Common Stock,Equity,BBG001STRH79,Common Stock,DDDX,NaN,NaN
3,MMM,US,3M Company,Common Stock,USA,USD,US88579Y1010,133.950,2022-07-21,MMM,...,MMM,US,BBG000BP52R2,Common Stock,Equity,BBG001S5T7X2,Common Stock,MMM,NaN,NaN
4,MMM,XETRA,3M Company,Common Stock,Germany,EUR,US88579Y1010,130.800,2022-07-21,MMM,...,MMM,US,BBG000BP52R2,Common Stock,Equity,BBG001S5T7X2,Common Stock,MMM,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20330,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ZOM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20331,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ZMD.H,...,ZMD/H,CN,BBG000BYKYT4,Common Stock,Equity,BBG001SJS399,Common Stock,ZMD/H,NaN,NaN
20332,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ZPG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ZYB,...,ZYBEUR,XB,BBG00K26PFH0,Common Stock,Equity,BBG001T5K500,Common Stock,ZYBEUR,NaN,NaN
20334,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ZNGA,...,ZNGAEUR,XS,BBG005YZL2R6,Common Stock,Equity,BBG001T24RN2,Common Stock,ZNGAEUR,NaN,NaN

In [10]:
data.to_csv('metadata_JiaruiLi.csv')